<div class="position-relative">
  <div class="card-category card-large" style="background-image: url('<%= image_path "tommy-wiseau.jpeg" %>')">
  My Lists
  </div>
</div>
<br>
<div class="row my-2">
    <div class="cards">
      <ul>
        <div>
        <% @lists.each do |list| %>
          <li class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to list.name, list_path(list), class: "text-decoration-none" %></li>
        <% end %>
      </ul>
    </div>
</div>
<br>
<%= link_to "Create a movie list", new_list_path, class: "btn btn-success" %>
